.card{
    background-color: aquamarine;
    width: 50%;
    height: 35px;
    margin: 5px;
    text-align: center;
    padding-top: 5px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}